body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: #FFF1DC;
    min-height: 100vh;
    margin:10px;
}

header {
    inline-size: 100%;
    text-align: center;
    background-color: #342809;
    color: #e0e0e0;
    padding: 2px 0;
}

header>img {
    height: 80px;
    width: 200px;
}

header>h1 {
    font-size: large;
}

.hcolorone {
    color: whitesmoke;
}

.hcolortwo {
    color: #FB9902;
}

#wrapper>nav {
    inline-size: 100%;
    background-color: white;
    text-align: center;
    padding: 2px 0;
}

nav a {
    color: #342809;
    font-weight: bold;
    text-decoration: none;
}

#horizontalnavigation a:hover {
    background-color: #975B02;
    color: #fff;
}

nav ul li {
    display: inline;
    list-style-type: none;

}

nav ul li a {
    padding: 10px;

}

footer nav a {
    color: #FB9902;
    text-decoration: underline;
    font-size: 0.8em;
}

.desk {
    display: inline;
}

section {
    font-size: 0.9em;
}

section {
    background-color: #FFF1DC;
}

#bottomnav {
    position: fixed;
    width: 100%;
    bottom: 1%;
}

footer {
    background-color: #342809;
    text-align: center;
    padding-block: 2px;
    border-block-start: thin solid #003333;
    max-width: 98.7vw;
}

small {
    color: #FB9902;
}
