body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: #FFF1DC;
    min-height: 100vh;
    margin: 10px;
}

:root {
    --backgroundColor: #342809;
    --fontColor: #FB9902;
    --secondaryBackGroundColor: white;
    --fontSize: 1em;
    --backgroundImage: url(../images/floral.jpg);
    --borderRadius: 7px;
}

header {
    inline-size: 100%;
    text-align: center;
    background-color: var(--backgroundColor);
    color: #e0e0e0;
    padding: 2px 0;
}

header a>img {
    height: 5vmax;
    width: 14vmax;
}

header>h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.5em;
}

.photographersh3 {
    text-align: center;
    padding-left: 25vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: var(--secondaryBackGroundColor);
}

.hcolorone {
    color: whitesmoke;
}

.hcolortwo {
    color: var(--fontColor);
}

#wrapper>nav {
    inline-size: 100%;
    background-color: var(--secondaryBackGroundColor);
    padding: 2px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

a::selection {
    color: var(--fontColor);
    background-color: var(--secondaryBackGroundColor);
}

nav a {

    color: var(--backgroundColor);
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li {

    display: inline-block;
    padding-inline: var(--fontSize);
    list-style-type: none;
}

.mobile {
    display: none;
}

.para1 {
    font-size: var(--fontSize);
    max-width: 82%;
    margin-left: 10px;
    margin-top: 10px;
    max-inline-size: 40%;
    padding: 10px;
    background-color: bisque;
    box-shadow: 5px 10px 18px var(--backgroundColor);
}

.para2 {
    font-size: var(--fontSize);
    max-width: 82%;
    margin: auto;
    margin-top: 40px;
    max-inline-size: 50%;
    padding: 10px;
    max-inline-size: 30%;
    padding-left: 15px;
    margin-left: 41%;
    background-color: bisque;
    box-shadow: 5px 10px 18px var(--backgroundColor);
}

.indexImg {
    width: 15vw;
    height: 15vw;
    float: left;
    border: 2px ridge var(--backgroundColor);
    margin-left: 25%;
    margin-top: 24px;
}

main {
    background-image: var(--backgroundImage);
    background-size: cover;
}

main nav {
    display: flex;
    justify-content: center;
}

main nav ul li a {
    border: var(--backgroundColor) solid 5px;
    background-color: var(--secondaryBackGroundColor);
}

figure img {
    border: 10px ridge var(--backgroundColor);
}

footer {
    margin-top: 10%;

}

footer nav {
    background-color: var(--backgroundColor);
    padding-block: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

footer nav a {
    color: var(--fontColor);
    text-decoration: underline;
    font-size: 0.8em;
}

footer p {
    text-align: center;
}

footer p a {
    color: var(--backgroundColor);
    text-decoration: none;
    font-size: 0.8em;
}

footer p a[target="_blank"] {
    background-image: url(../images/offsite_arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 5%;
    background-size: 14px;
    padding-inline-end: 50px;
}

small {
    display: flex;
    justify-content: center;
    align-content: center;
    color: var(--backgroundColor);
    font-size: 0.7em;
}

.cssIconHtmlDiv {
    margin-left: 35%;
}

.cssHtmlIcon {
    width: 15vw;
    height: 8vw;

}

@media screen and (min-width:768px) {
    .mobile {
        display: inline-block;
    }

    #booknow {
        display: none;
        background-color: whitesmoke;
        border: double 1px #342809;
    }

    .hover a:hover {
        background-color: var(--fontColor);
        color: whitesmoke;
    }

    section {
        font-size: 0.9em;
    }

    section nav ul {
        border: double 1px #342809;
    }

    .parent {
        display: grid;
        grid-template-columns: 3fr repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 1 / 4 / 2 / 5;
    }

    .div5 {
        grid-area: 1 / 5 / 2 / 6;
    }

    .div6 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div7 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div8 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .div9 {
        grid-area: 2 / 4 / 3 / 5;
    }

    .div10 {
        grid-area: 2 / 5 / 3 / 6;
    }

    .div11 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div12 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .div13 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .div14 {
        grid-area: 3 / 4 / 4 / 5;
    }

    .div15 {
        grid-area: 3 / 5 / 4 / 6;
    }

    .div16 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div17 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .div18 {
        grid-area: 4 / 3 / 5 / 4;
    }

    .div19 {
        grid-area: 4 / 4 / 5 / 5;
    }

    .div20 {
        grid-area: 4 / 5 / 5 / 6;
    }

    .back {
        background-color: var(--secondaryBackGroundColor);
    }

    .formbox {
        display: grid;
        place-items: center;
    }

    form {
        display: grid;
        grid-template-columns: 20% 1fr;
        gap: 10px;
        border: 2px solid;
        padding: 10px;
        background-color: #FFF1DC;
        border-radius: var(--borderRadius);
    }

    fieldset {
        grid-column: 1/ span 2;
    }

    input,
    fieldset,
    select,
    button {
        border-radius: var(--borderRadius);
    }

    button[type=reset] {
        max-width: 18%;
    }

    button[type=submit] {
        max-width: 70%;
    }

    input:not([type=checkbox], [type=radio], button),
    select {
        margin-inline-end: 50%;
    }

    label:not(fieldset>label)::after {
        content: ":";
    }

    label,
    input,
    select,
    fieldset {
        margin-top: 5px;
    }

    input[type=text],
    [type=email] {
        width: 50%;
        height: 20px;
    }

    input[type=tel] {
        width: 25%;
        height: 20px;
    }

    select {
        height: 30px;
        width: 40%
    }

    textarea {
        width: 99%;
    }

    /*keyframe animation for links page*/
    .linksDiv {
        margin-left: 40%;
    }

    .ulCenter {
        text-align: center;
    }

    .noStyle {
        list-style: none;
    }

    .diffBackImage {
        background-image: url(../images/flower.jpg);
    }

    .withStyle {
        list-style: inside center url(../images/cameraicon2.png);
    }

    .noUnderline {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s;
    }

    .listHover:hover {
        animation: coolLinkAnimation 1s ease-in-out infinite;
    }

    @keyframes coolLinkAnimation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1);
            background-color: var(--backgroundColor);
            color: white;
        }

        100% {
            transform: scale(1);
        }
    }
}

/*Addtional css for images on the photographer, models and videographer pages*/
main h2 {
    text-align: center;
    background-color: var(--backgroundColor);
    color: var(--secondaryBackGroundColor);
}

figcaption {
    margin-left: 0.5vw;
    font-size: 0.8em;
}

.align {
    margin-left: 5vw;
}

/*CSS FOR THE FROM ON THE CONTACT US HTML*/
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fontSize);
}

@media screen and (max-width:768px) {

    .para1 {
        font-size: var(--fontSize);
        padding: 10px;
        max-width: 93%;
    }

    .indexImg {
        display: none;
    }

    .para2 {
        font-size: var(--fontSize);
        padding: 10px;
        max-width: 93%;
        margin-inline-start: 10px;
    }

    form {
        gap: 10px;
        border: 2px solid;
        padding: 10px;
        background-color: #FFF1DC;
    }

    label,
    input:not([type=checkbox], [type=radio]),
    select {
        display: block;
    }

    label,
    input,
    select,
    fieldset {
        margin-top: 5px;
    }

    input[type=text],
    [type=email] {
        width: 50%;
        height: 20px;
    }

    input[type=tel] {
        width: 25%;
        height: 20px;
    }

    select {
        height: 30px;
        width: 180px
    }

    textarea {
        width: 99%;
    }

    .displayGridForModels {
        display: grid;
        grid-template-columns: 1fr;
    }
}